services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        UID: ${UID}
        GID: ${GID}
    environment:
      TZ: ${TZ}
    volumes:
      - ./config/config.json:/app/config/config.json
    ports:
      - "${PORT}:${PORT}"
    depends_on:
      db:
        condition: service_healthy
    restart: always
    healthcheck:
      test: ["CMD", "pgrep", "-f", "server"]
      interval: 30s
      timeout: 10s
      retries: 5

  db:
    image: postgres:17
    environment:
      POSTGRES_DB: coursework
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./init_db.sql:/docker-entrypoint-initdb.d/init_db.sql
    ports:
      - "5433:5432"
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

volumes:
  pg_data: